@import "../../scss/AMIRI-base";


.gallery-item {
    cursor: pointer;
}

.gallery-img {
    overflow: hidden;
    position: relative;

    &:hover>.hover-img {
        opacity: 1;
    }
}

img {
    width: 100%;
}


.hover-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

}

.gallery-item-text {
    @include font-style-secondary();
    padding: 20px;

    @media (max-width:500px) {
        font-size: 8px;
    }
}